<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ saga.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/sagas/{{ saga.id }}/seasons/{{ season.id }}/edit" routerDirection="forward"
        *ngIf="authService.isLoggedIn()">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let episode of season.episodes" routerLink="/sagas/{{ saga.id }}/episode/{{ episode.id }}"
      routerDirection="forward">
      <ion-label>
        <ion-icon name="play-outline"></ion-icon> {{ episode.displayedNumber }} - {{ episode.title }}
      </ion-label>
    </ion-item>
    <ion-item button="true" (click)="addEpisode()" *ngIf="authService.currentTokenValue">
        <ion-label>
            < Ajouter un épisode >
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>