<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Se connecter</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <form [formGroup]="loginForm" (ngSubmit)="logIn()" novalidate>
                    <ion-item>
                        <ion-label position="floating">Email</ion-label>
                        <ion-input formControlName="email" type="email" name="email" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input formControlName="password" type="password" name="password" required></ion-input>
                    </ion-item>
                    <ion-button type="submit " expand="block ">
                        <ion-icon slot="start " name="send "></ion-icon>
                        Se connecter
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>