<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Actualités</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items" routerLink="/news/{{ item.id }}" routerDirection="forward">
            <ion-label>
                <h2>{{ item.title }}</h2>
                <h3>Par {{ item.author }} le {{ item.pubdate | date:'dd/MM/yyyy' }}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>